.details-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.detail-wrapper {
  margin-bottom: 15px;
  width: 50%;
}
.detail-wrapper.big {
  width: 100%;
}

.detail-label {
  font-weight: 600 !important;
  display: block;
}
.detail-value {
  display: block;
}

.detail-value .ant-avatar > img {
  -o-object-fit: contain;
  object-fit: contain;
}

.detail-value.permissions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.details-sub-permission {
  margin: 0 20px;
}
.details-permission {
  width: 30%;
}
