* {
  direction: ltr;
  text-align: left;
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}
.lang .global-icon {
  right: 2%;
}

.ltr-content .ant-table-row-cell-break-word {
  text-align: left !important;
}

.login-page .ant-btn-primary:hover .anticon,
.login-page .ant-btn-primary:focus .anticon {
  transform: translateX(6px);
}

.login-page .ant-btn-default:hover .anticon,
.login-page .ant-btn-default:focus .anticon {
  transform: translateX(-6px);
}

.ant-steps-vertical > .ant-steps-item {
  padding-right: 15px !important;
}
